<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Under Maintenance</title>
</head>
<body style="color: gray;">
    <div style="width: 90%;background-color:white; margin-left:auto;">
      <h1 >Website Under Maintenance</h1>
      <hr style="color: gray; width:70%;float:left;"><br>
      <span>Hi, our Website is currently undergoing scheduled maintenance. PLease check<br>back very soon.<br>
         <h3>Sorry for the inconvenience!</h3></span>
    </div>
</body>
</html>