<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
<body>
    <div class="container">
        <img src="/images/i.png" alt="Instagram Logo" class="logo">
        <form action="/signupsave" method="post">
            <span style="color: gray;text-align-last:center; text-align:justify;">Choose a username  for your new account. you can always change it later.</span><br><br>
            <input type="text" placeholder="username" class="input-field" name="username" required>
            <br>
            <button type="submit" class="login-button">Next</button>
            <br><br>
            <hr style="width: 90%; color:gray;">
            <br>
            <div style="text-align:center;"><span style="color: gray;">Already Have An Account?</span><a href="/" class="link"> Login</a></div>
    </div>
</body>
</html>